In [117]:
people = {
    "first": ["Corey", 'Jane', 'John'], 
    "last": ["Schafer", 'Doe', 'Doe'], 
    "email": ["CoreyMSchafer@gmail.com", 'JaneDoe@email.com', 'JohnDoe@email.com']
}
# This is what the dataframe is

In [118]:
import pandas as pd

In [119]:
df = pd.DataFrame(people)

In [120]:
df.columns = ["first_name","last_name","email"]

In [121]:
df.set_index("email",inplace=True)

In [122]:
filt = df['last_name'] == 'Doe'

In [123]:
df.loc[df['last_name'] == 'Doe','first_name']

email
JaneDoe@email.com    Jane
JohnDoe@email.com    John
Name: first_name, dtype: object

In [124]:
df.iloc[1,1]

'Doe'

In [125]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [135]:
df.loc[['CoreyMSchafer@gmail.com'],'last_name']

email
CoreyMSchafer@gmail.com    Schafer
Name: last_name, dtype: object

In [ ]:
df.email

In [ ]:
df['email'] = df['email'].str.lower()

In [ ]:
df['email'] = df['email'].str.upper()

In [ ]:
df.rename(columns={"email":"Emails"},inplace=True)

In [ ]:
filt = df['Emails']=='COREYMSCHAFER@GMAIL.COM'

In [ ]:
df.loc[filt,"last"] = "Salman"

In [ ]:
df.head()

### apply

In [ ]:
def name_change(name):
    if name == "Corey":
        return "S"

In [ ]:
df['first_name'].apply(name_change)

In [ ]:
df['first_name']

In [ ]:
df['first'] = df['first'].apply

In [128]:
df

                        first_name last_name
email
CoreyMSchafer@gmail.com      Corey   Schafer
JaneDoe@email.com             Jane       Doe
JohnDoe@email.com             John       Doe

In [145]:
filt = df['last_name'] == 'Doe'
df.loc[filt].index

Index(['JaneDoe@email.com', 'JohnDoe@email.com'], dtype='object', name='email')

In [144]:
df.drop(index=df.loc[filt].index)

                        first_name last_name
email
CoreyMSchafer@gmail.com      Corey   Schafer

In [130]:
df.drop(df)

KeyError: "labels ['first_name' 'last_name'] not contained in axis"